/* Set the font for the entire page */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

/* Style the navigation menu */
nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #e0e2e6;
    padding: 10px;
}

nav img {
    height: 50px;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Make the page mobile-friendly */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }
}

/* Style the dashboard header */
h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* Style the charts */
.chart-container {
    width: 100%;
    height: 400px;
    margin: 20px auto;
    border: none;
}

/* Common styles for all charts */
.chart-container canvas {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Common styles for chart titles */
.chart-container h3 {
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

/* Common styles for download buttons */
.chart-container button {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chart-container button:hover {
    background-color: #0056b3;
}

/* Style the table */
#loans-table-container {
    width: 100%;
    margin: 20px auto;
}

#loans-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
}

#loans-table thead {
    background-color: #333;
    color: #fff;
}

#loans-table thead th,
#loans-table tbody td {
    padding: 10px;
}

#loans-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#loans-table tbody tr:hover {
    background-color: #f2f2f2;
}

/* Align the charts on the page, 3 each per row */
#charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-container {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .chart-container {
        flex: 0 0 100%;
    }
}