body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.centered-form, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
}

form input[type="text"], form input[type="password"], form input[type="submit"], button, a.button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
}

form input[type="submit"]:hover, button:hover, a.button:hover {
    background-color: #0056b3;
}

footer, .header {
    background-color: #f8f9fa;
    color: #6c757d;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

canvas {
    width: 100% !important;
    max-width: 400px;
    height: auto !important;
}

#charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-container {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

#loansTable {
    margin-top: 50px; /* Adjust this value as needed */
}