body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Add this line to include padding and border in the element's total width and height */
    width: 300px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Add this line to include padding and border in the element's total width and height */
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #28a745;
    cursor: pointer;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #1e7e34;
}

a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #28a745;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

a.button:hover {
    background-color: #1e7e34;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #6c757d;
    text-align: center;
    padding: 10px 0;
}

.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.header img {
    height: 60px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #6c757d;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}}